.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9b3923;
    padding: 10px;
    margin: 0 auto;
    height: 80px;
    
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    margin-left: 90px;
    align-items: center;
  }
  
  .navbar-title {
    margin-left: 20px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-style: normal;
    font-weight: 7  00;
  }
  
  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .navbar-nav li {
    margin-right: 10px;
    display: flex;
    align-items: center;
    
  }
  
  .navbar-nav li a {  
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px;
  }
  
  .navbar-nav li:first-child{
    margin-left: 25px;
  }

  .navbar-nav li a:hover{
    border-bottom: 2px red solid;
  }


  
  .navbar-right {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  
  .cart-basket {
    position: relative;
    margin-right: 10px;
  }
  
  .cart-count {
    position: absolute;
    top: -12px;
    right: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
  }
  
  .cart-icon {
    font-size: 24px;
  }
  
  .btn-signup,
  .btn-login {
    padding: 8px 16px;
    border: none;
    background-color: #333;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .btn-signup:hover,
  .btn-login:hover {
    background-color: #555;
  }

  .ng-container{
    .a {
      text-decoration: none;
  }
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
    }
    
    .navbar-left {
      margin-bottom: 10px;
    }
    
    .navbar-right {
      margin-top: 10px;
    }
    
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navbar-nav li {
      margin-right: 0;
      margin-bottom: 5px;
    }
    
    .btn-signup,
    .btn-login {
      margin-left: 0;
      margin-top: 5px;
    }
  }